@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .max-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .styledRadius {
        border-radius: 50px 50px 25px 25px;
    }

    .musicCard {
        @apply bg-gradient-to-r from-[#2A2A2A]/70 via-[#3A2A2A]/50 to-[#2A2A2A]/70 rounded-b-xl
    }

    .musicCardContent {
        @apply bg-gradient-to-r from-[#121212]/95 via-[#1E1E1E]/90 to-[#121212]/95 rounded-t-xl;
    }

    body {
        @apply bg-gradient-to-b from-neutral-900 via-zinc-800 to-neutral-700
    }

    .playerDiv {
        @apply bg-gradient-to-l from-neutral-900 via-zinc-800
    }

}